<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat chido</title>
    <link rel="stylesheet" href="/assets/styles/styles.css" />
  </head>
  <body>
    <main>
      <h1>Bienvenido al ChatChido</h1>
      <div id="username-input">
        <p>Para empezar, ingrese su nombre de usuario</p>
        <input id="user-input" type="text" placeholder="Nombre de usuario" />
        <button id="button" onclick="getUsername()">Aceptar</button>
      </div>
      <div id="selection">
        <ul class="room-list">
          <li class="room-selector"><a href="chat/1">Entrar a sala 1</a></li>
          <li class="room-selector"><a href="chat/2">Entrar a sala 2</a></li>
          <li class="room-selector"><a href="chat/3">Entrar a sala 3</a></li>
          <li class="room-selector"><a href="chat/4">Entrar a sala 4</a></li>
          <li class="room-selector"><a href="chat/5">Entrar a sala 5</a></li>
        </ul>
      </div>
    </main>
  </body>
  <script src="/assets/scripts/home.js"></script>
</html>
